<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">ИТ продавница</h1>
            </div>
        </section>

        <div class="container mb-4">
            <div class="row">
                <!-- ako ima povekje od 0 produkti vo listata togas se kreira tabela so tie produkti,
                ako ne nema da se izvrsuva ovoj del od kodot-->
                <div class="col-12" th:if="${products.size() > 0}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Име на продукт</th>
                                <th scope="col">Производител</th>
                                <th scope="col">Категорија</th>
                                <th scope="col">Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.getName()}"></td>
                                <td th:text="${product.getManufacturer() != null} ? ${product.getManufacturer().getName()} : 'No Manufacturer'"></td>
                                <td th:text="${product.getCategory() != null} ? ${product.getCategory().getName()} : 'No Category'"></td>
                                <td th:text="${product.getPrice()}"></td>

                                <td class="text-right">
                                    <!-- ke ogranicime kopcinjata delete i edit da moze da gi pristapuva samo admin-ot-->
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <!--ke implementirame brisenje na odredena kategorija-->
                                        <form th:action="@{'/products/delete/{id}' (id=${product.getId()})}"
                                              th:method="DELETE">
                                            <button class="btn btn-sm btn-danger delete-product" type="submit">
                                                <i class="fas fa-trash"></i> Бриши
                                            </button>
                                        </form>
                                    </th:block>

                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a class="px-2 btn btn-sm btn-primary edit-product"
                                           th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}">
                                            <!-- dodava znak za editiranje--><i class="fas fa-edit"></i>
                                            Промени
                                        </a>
                                    </th:block>

                                    <form th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}"
                                          th:method="POST"
                                          sec:authorize="isAuthenticated()">
                                        <button class="btn btn-sm btn-success add-to-cart-balloon"
                                                type="submit">
                                            <i class="fas fa-cart-plus"></i> Додади во кошничка
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>

